// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {
	border-bottom: solid 1px #CCC;
	padding: 10px 0;
	.post-title {
	font-size: 17px
	}
}

.post p {
	
	margin: 4px 0;
}

.post.hover {
	background: #FAFAFA;
}

.post .admin {
	display: none;
}

.post.hover .admin {
display: inline;
}

.post_content {
	size: 220px;
}

#newpost {
	textarea#post_content {width:220px; height: 220px;}
}

.dropdown {
    margin: 0px 0px 0px 1240px;
	position: absolute;
	
	.dropdown-menu {
		position: relative;

	}
}
.page-header h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 28px;
}


